ipython==7.19.0
jsbeautifier==1.13.0
BTrees==4.7.2
graphql-py==0.8.1
sqlparse==0.4.1
pytest==6.1.2
base36==0.1.1
prompt-toolkit>=3.0.4
pycryptodome==3.9.9
appyratus>=3.0.3
jinja2==2.11.1
MarkupSafe==2.0.1
